<!DOCTYPE html>
<html>
  <head>
    <title>OnlinetoursShopTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css', media: 'all' %>
    <%= stylesheet_link_tag 'selectize.bootstrap4' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js' %>
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.0/jquery-ui.js' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
